{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block body %}
  <div>
    <h1>About Flask</h1>
  </div>
  <div>
    Flask is a web framework that offers tools, libraries, and technologies suitable for building a web application. This web application can come in the form of web pages, blogs, or even an extensive web-based calendar app or a commercial site. Flask is one of the best micro-frameworks, as it has little to no dependencies on external libraries."
  </div>
{% endblock %}